/* 

Height can be carryied down through a nested structure
to preserve fixed amount.  Typically height will only take up the 
available height of the parent elemnent

html --> body --> main -->

*/

html {
    height: 500px;
}


body {
    margin: 0;
    height: 100%;
}


main {
    width: 50%;
    height: 100%;
    background-color: aqua;
}

/* class selector */
.section-title {
    background: red;
    font-weight: bold;
    font-family: sans-serif;
}

/* descendant delector */
#product-details h1 {
    background-color: bisque;
}