/* 

Pseudo classes define the style of a special STATE of an element
    a:hover
    a:active
   
Pseudo Elements define the style of a specific PART of an element

    p::first-line
    p::first-letter

*/

p::first-letter {
    font-size: 2rem;
    color: #dfdfdf;
}

p {
    padding: 1rem
}

.main-nav__item a::after {
    content: " >";
    color: #333;

}


.main-nav__item a::before {
    content: "< ";
    color: #333;

}


* {
    box-sizing: border-box;
}



body {
    margin: 0;
    color: #777;
    box-sizing: border-box;
    background-color: #212121;
    font-family: 'Akshar', sans-serif;
}

.main-header {
    width: 100%;
    /* default is 100%*/
    background-color: #555;
    padding: .5rem 1rem;
    display: inline-block;
}


/* direct child selector */
.main-header>div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
}


.main-nav {
    display: inline-block;
    text-align: right;
    /* this is a bit of a hack, but we will encounter better ways to display items on a single line */
    width: calc(100% - 75px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-nav__item {
    margin: 0 1rem;
    display: inline-block;
}

.main-nav a {
    text-decoration: none;
    color: #dedede;
    padding: .25rem;

}

.main-nav__item a {
    border-bottom-color: rgba(161, 161, 161, 0);
    border-bottom-style: solid;
    transition: 0.2s;
}


.main-nav__item a:hover,
.main-nav__item a:active {
    border-bottom-color: rgba(161, 161, 161, 1);
}


.page-welcome-splash {
    background-image: url("./joshua-earle-9idqIGrLuTE-unsplash.jpg");
    background-position: 50% 50%;
    color: #333;
}

.section-title {
    font-weight: bold;
    padding: 0 .25rem
}

#product-details h2 {
    width: 50%;
    color: #dedede;
    background-color: #555;
    padding: 0 .25rem;
    border: #d1d1d1 solid 1px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}