.welcome-p::first-letter {
    font-size: 2rem;
    color: #dfdfdf;
}

p {
    padding: 1rem
}

.page-welcome-splash {
    background-image: url("./images/joshua-earle-9idqIGrLuTE-unsplash.jpg");
    background-position: 0 60%;
    color: #333;
    height: 28vh;
    width: 100vw;

}

.section-title {
    font-weight: bold;
    padding: 0 .25rem;
    margin-top: 4rem;
}

.section-header {
    text-align: center;
}

.plan-list {
    width: 95%;
    text-align: center;
    margin: auto;
}

.plan-article {
    background-color: #dfdfdf;
    text-align: center;
    padding: 1.4rem;
    margin: 1rem 0;
    width: 100%;
    display: block;
}

.plan-article ul {
    list-style: none;
    margin: .5rem;
    padding: 0;
}

.plan-highlighted {
    background-color: rgb(59, 59, 158);
    color: #fff;
    /* x y blur spread */
    box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, .05);
}

.plan__annotation {
    background-color: #adff2f;
    color: rgb(59, 59, 158);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);

}

.plan__title {
    color: #212121;

}

.plan__price {
    color: #333;
}

.plan-highlighted .plan__price,
.plan-highlighted .plan__title {
    color: #fff;
}



#key-features {
    color: #d1d1d1;
    background-color: #333;
    margin-top: 2rem;

}

.key-features__items {
    list-style: none;
    margin: 0;
    pad: 0;
}


.key-features__image {
    background-color: aqua;
    width: 10rem;
    height: 10rem;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: auto;
    padding: 1.6rem;
}

.key-features__description {
    text-align: center;
    font-weight: lighter;
    color: #fff;

}

#product-details h2 {
    width: 50%;
    color: #dedede;
    background-color: #333;
    padding: 0 .25rem;
    border: #d1d1d1 solid 1px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

/*
*   For Modal
*/

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid #333;
    border-radius: 3px;
    background: #333;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
}

.modal__action--negative {
    background: #333;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
}

/*
*   MEDIA QUERIES
*/
@media (min-width: 680px) {
    .page-welcome-splash {
        height: 50vh;
        background-position: center;
    }

    .section-title {
        font-size: 3rem;
    }

    .welcome-p::first-letter {
        font-size: 3rem;
    }

    .welcome-p {
        font-size: 2rem;
    }

    .plan-list {
        width: 80%;
    }

    .plan-article {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        margin: .5rem;
    }

    .key-features__item {
        width: 30%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }

    .key-features__image {

        width: 8rem;
        height: 8rem;

    }

    #key-features {
        margin-top: 5rem;

    }
}

@media (min-width: 980px) {
    .page-welcome-splash {
        height: 40vh;
        background-position: center;
    }
}