.container {
    display: grid;
    grid-template-columns:  20% auto;
    grid-template-rows:  3.5rem 1fr 3.5rem;
    height: 100vh
}
.header {
    background-color: hsla(123, 89%, 43%, 0.603);
    grid-column-start: 1;
    grid-column-end: -1;
}
.side-nav {
    background-color: hsla(347, 49%, 67%, 0.603);
    
}

.main {
    background-color: hsla(227, 89%, 43%, 0.603);
}

.footer {
    background-color: hsla(65, 89%, 43%, 0.603);
    grid-column-start: 1;
    grid-column-end: -1;
}