<nav class="main-nav">
    <ul class="main-nav__items">
        <li class="main-nav__item"><a href="./packages/index.html">Packages</a></li>
        <li class="main-nav__item"><a href="./customers/index.html">Customers</a></li>
        <li class="main-nav__item"><a href="./start-hosting/index.html">Start Hosting</a></li>
        <!-- <li class="main-nav__item"><a href="./flex/index.html">Flex</a></li>
        <li class="main-nav__item"><a href="./grid/index.html">Grid</a></li> -->
    </ul>
</nav>