main {
    padding-top: 2rem;

}

.parallax {
    perspective: 4px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}

.bg-image {
    background-image: url('../alexander-sinn-YYUM2sNvnvU-unsplash.jpeg');
    background-attachment: scroll;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -2;

}

.plan {
    width: 80%;
    margin: 2rem 0;
    background-color: #888;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    z-index: 0;

}

.plan a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 1.5rem
}


.plan-description {
    background-color: #c1c1c1;
    padding: .25rem .5rem
}

#plus {
    margin-top: 3rem;
    position: relative;
    background-color: rgb(59, 59, 158);
}

#plus .plan-header,
#plus .plan-subheader {
    z-index: 1;
    color: #c1c1c1;
}

.splash {
    width: 14rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #adff2f;
    float: right;
    transform: translate(0, -40px);
    z-index: -1;
}

.splash::after {
    content: "Recommended";
    color: #000;
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    font-size: 2rem;
}

#free {
    float: right;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    text-align: right;

}

.clear-fix {
    clear: both;
}