main {
    padding-top: 2rem;
}

.plan {
    width: 80%;
    margin: 2rem 0;
    background-color: #888;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    z-index: 0;
}

.plan a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 1.5rem
}


.plan-description {
    background-color: #c1c1c1;
    padding: .25rem .5rem
}

#plus {
    position: relative;
    background-color: rgb(59, 59, 158);
}

#plus .plan-header,
#plus .plan-subheader {
    z-index: 1;
    color: #c1c1c1;
}

.splash {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #adff2f;
    float: right;
    transform: translate(40px, -40px);
    z-index: -1;
}

.splash::after {
    content: "DEAL";
    color: #000;
    position: absolute;
    top: 35px;
    right: 1rem;
    font-size: 2.5rem;
}

#free {
    float: right;
    border-radius: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    text-align: right;

}

.clear-fix {
    clear: both;
}